/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #FFFFFF;
    font-size: 1em;
    font-family: 'Space Mono', monospace;
    line-height: 1.4;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

html {
    font: 120pt Helvetica, Helvetica Neue, Arial;
    background: #29E0EC;
    transition: background 0.3s ease;
}

.resetting {
  background: #60ec44 !important;
}

.switching {
  background: #CC00FF !important;
}

.active {
  background: #D0EA3B;
}

.buffering .timer {
  animation: bounceOpacityBackAndForth 1.0s ease-out infinite;
}

@-webkit-keyframes bounceOpacityBackAndForth {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1.0;
    }
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

#timer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: -20%;
  font-family: 'Khand', sans-serif;
  text-shadow: 3px 2px rgba(0, 0, 0, .35);
}
