/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #FFFFFF;
    font-size: 1em;
    font-family: 'Space Mono', monospace;
    line-height: 1.4;
    cursor: pointer;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

html {
    font: 220px Helvetica, Helvetica Neue, Arial;
    background: #D3F415;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

#timer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: -20%;
  font-family: 'Khand', sans-serif;
  text-shadow: 3px 2px rgba(0, 0, 0, .35);
}
