---
title: "Zeebn: Awake"
---

<% content_for :scripts do %>
  <script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
  <script src="/javascripts/vendor/soundmanager2-jsmin.js"></script>
  <script src="/javascripts/vendor/shake.js"></script>
  <script src="/javascripts/vendor/NoSleep.js"></script>
  <script src="/javascripts/formatters.js"></script>
  <script src="/javascripts/SleepPreventer.js"></script>
  <script src="/javascripts/QueuePlayer.js"></script>
  <script src="/javascripts/SketchTimer.js"></script>
  <script src="/javascripts/main.js"></script>
<% end %>

<div class="outer">
  <div class="middle">
    <div id="timer" class="timer"></div>
  </div>
</div>
