---
title: Zeebn
---

<div class="outer">
  <div class="middle">
    <div id="timer"></div>
  </div>
</div>

<div id="menu">
  <div href="#" class="close">x</div>
  <ul class="options">
    <li><a href="#" class="action">reset</a></li>
  </ul>
</div>
